<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="basePath">../PaymentMgmtLogs/logs</Property>
    </Properties>
    <Appenders>
        <!-- File Appender -->
        <RollingFile name="LogToFile" fileName="${basePath}/logfile.log"
                     filePattern="${basePath}/logfile-backup-%i.log" >
            <PatternLayout>
                <pattern>%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

        <!-- Console Appender -->
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.anands" level="debug" additivity="true">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="com.anands" level="error" additivity="true">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole" />
        </Root>
    </Loggers>
</Configuration>